@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.app {
  display: block;

}
.header {
  /* position: fixed; */
  width: 100%;
  height: 100px;
  background-color: #AB2A19;
  justify-content: flex-start;
  align-items:center;
  top: 0;
  z-index: 2;
  display:flex;

}

img {
  height: 50px;
  /* position: absolute; */
  width: 50px;
  padding: 20px;
  left: 75px;
}

.shelfie {
  color: white;
  /* position: absolute; */
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  left: 150px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-box {
  display: block;
}

.header-links {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 18px;

}

.dashboard {
  color: black;
  padding: 10px;
  background-color: #ED6B5A;
  font-weight: 700;
  border-radius: 5px;
}

.form-add {
  color: black;
  padding: 10px;
  background-color: #ED6B5A;
  font-weight: 700;
  border-radius: 5px;

}


 .form {
   display: flex;
   flex-direction: column;
   width: 350px;
   background-color: #3AD886;
   margin: 10px auto;
   padding: 15px;
 }
