@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header {
  height: 35%;
  background-color: #AB2A19;
}

.shelfie {
  color: white;
  font-family: 'Open Sans', sans-serif;

}

